//Colors used in the app

$orange: rgb(255, 127, 0);
$gray: rgb(51, 51, 51);

//Navbar background color
$navbarColor: rgb(20, 20, 20);

//Body background color
$bodyColor: rgb(192, 192, 192);

//Page background color
$pageColor: rgb(229, 229, 229);
