<div class="container-fluid">
  <!-- ----------------------------NAV-BAR-------------------------------- -->
  <div class="navbar navbar-fixed-top">
    <div class="container-fluid row" style="padding:0;margin:0;">
      <!-- ----------------------------APP-LOGO-HOME-------------------------------- -->
      <div class="col-lg-1">
        <a class="navbar-brand" href="#">SearCh</a>
      </div>

      <!-- ----------------------------SEARCH-DIV-------------------------------- -->
      <div class="col-lg-10 text-center" id="searchDiv">
        <form>
          <select id="optSearch">
            <option>Any</option>
            <option>Movies</option>
            <option>Actors</option>
          </select><!--
       --><input type="search" id="searchInput"><!--
       --><button id="btnDoSearch" class="btn btn-default"></button><!--
       --><button id="btnOptions" class="btn btn-default"></button>
        </form>
      </div>

      <!-- ----------------------------POWERED-BY-------------------------------- -->
      <div class="col-lg-1">
        <a class="navbar-brand" href="#">Powered by</a>
      </div>

    </div>
  </div>

  <!-- -----------------------------PAGE---------------------------------- -->
  <div class="container scrollable" id="page">
    asd <br>
    asd <br>
    asd <br>
    asd <br>
    asd <br>
    asd <br>
    asd <br>
  </div>
</div>
