<div class="container-fluid">
  <!-- ----------------------------NAV-BAR-------------------------------- -->
  <div class="navbar navbar-fixed-top">
    <div class="container-fluid row">
      <!-- ----------------------------APP-LOGO-HOME-------------------------------- -->
      <div class="col-lg-2">
        <a class="navbar-brand" href="#">SearCh</a>
      </div>

      <!-- ----------------------------SEARCH-DIV-------------------------------- -->
      <div class="col-lg-8 text-center" id="searchDiv">
        <form>
          <!-- <select id="optSearch">
            <option>Any</option>
            <option>Movies</option>
            <option>Actors</option>
          </select> --><!--
       --><input type="text" id="searchInput" placeholder="Type your search" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"><!--
       --><mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete><!--
       --><button id="btnDoSearch" class="btn btn-default">
            <mat-icon id="search">search</mat-icon>
          </button><!--
       <button id="btnOptions" class="btn btn-default">
            <mat-icon id="settings">settings</mat-icon>
          </button>-->
        </form>
      </div>

      <!-- ----------------------------POWERED-BY-------------------------------- -->
      <div class="col-lg-2" id="poweredByDiv">
        <img src="assets/images/PoweredByRectangle_Green.svg" alt="Powered by" id="poweredByImg">
      </div>

    </div>
  </div>

  <app-search-page></app-search-page>

</div>
