@import '~sass/variables';

/*-------------------- PAGE STYLE --------------------*/

#page {
  background-color: $pageColor;
  overflow: auto;
  height: 100%;
  padding: 5;
  padding-top: 15px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

#filterDiv {
  margin: 1px;
  margin-bottom: 20px;
  padding-right: 50px;
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(128,128,128);
}

#filterDivLeft {
  height: 46.5px;
}

#nResults {
  color: gray;
  position: absolute;
  bottom: 8px;
  font-size: 16px;
}

mat-icon#filter_list {
  color: $orange;
  height: 32px;
  width: 32px;
  font-size: 32px !important;
  margin-right: 7px;
}

#strFilter {
  color: gray;
  height: 32px;
  display: inline-block;
  vertical-align: middle !important;
}

#filterDivRigth {
  text-align: right;
}

/*---------------- ITEM'S CONTENT ---------------------*/

mat-grid-tile {
  background-color: rgb(219, 219, 219);
}

.itemContainer {
  padding: 0;
}

app-result-item{
  height: 100%;
  width: 100%;
}
